# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*.mp3

Supabase Database Password
CWk42srO4SqpjzBr

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6eWJxYXBuZ3Rzd2NiZnZ3cGd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzUyMjY1MDgsImV4cCI6MjA1MDgwMjUwOH0.SkSM2dJr1lRiUWmJuwDwcLyE_vyyRyoc2UCbuFG80l8

eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6eWJxYXBuZ3Rzd2NiZnZ3cGd3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNTIyNjUwOCwiZXhwIjoyMDUwODAyNTA4fQ.lZj2IwJIqAlwuBtq_0wL9xGM_UWAxdrjbxBk8BzB6gk

https://rzybqapngtswcbfvwpgw.supabase.co


JWT
Io2mLUALp0nOoQ3aZrHR2zhBpYpdyYNJgYdbBK4pGmAfrxGVULVW8nYNto7bo6sJhsYYNJp99wsVFeTv+yvuqA==